body {
   
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
  
}
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.login {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 300px;
	height: 300px;
}

/* Style the header */
.header {
    background-color: transparent;
    padding: 150px;
    text-align: center;
    font-size: 35px;
}
.header2 {
    background-color: transparent;
    padding: 40px;
    text-align: center;
    font-size: 15px;
    
}
.header3 {
    background-color: transparent;
    padding: 150px;
    text-align: center;
    font-size: 35px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side1 {
    width: 10%;
}

/* Middle column */
.column.middle1 {
    width: 90%;
    background-color: transparent;
}

.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 60%;
    background-color: transparent;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}